# ignore .csv files in datasets/ folder 
datasets/

data/artificial_data/train/
data/artificial_data/train2/
data/artificial_data/train4/
data/artificial_data/artificial_data.zip

ROSBags/

.vscode/
venv/
myenv/

models/model_005_09-01-2024_18-08-41.pth